
// main-body
body {
    font-family: "Raleway", sans-serif;
}

// navbar
.navbar {
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    z-index: 3;
    .navbar-brand h3 {
        font-weight: 100;
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid white;

    }
}

// cover showcase
#showcase {
    background: url("../images/front-beach.jpg");
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    #header {
    z-index: 2;
    }
// overlay of the nvabar
    #overlay {
        background: rgba(0,0,0,0.1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h1 {
        font-family: "Questrial", sans-serif;
        line-height: 1;
    }
    #book {
        font-size: 1.5rem;
        border-radius: 2rem;
    }

}

#samples {
    padding: 7rem 0;
}

#quotes {
    padding: 7rem 0;
    i {
        opacity: 0.6;
    }
}

#carousel {
    padding: 7rem;
}

#social-media {
    padding: 6rem;
}
// media-queries 
@media(max-width: 768px) {
    .navbar {
        background: #1f1f1f;
        .nav-link:hover {
            border-bottom: none;
        }
    }
    #showcase {
        min-height: 500px;
        h1 {
            font-size: 4rem;
        }
    }
}
