
// main-body
body {
    font-family: "Raleway", sans-serif;
    background: gold;
}

// navbar
.navbar {
    font-weight: 100;

    .navbar-brand h3 {
        font-weight: 100;
    }
    .nav-item {
        font-size: 1.4rem;
    }
    .nav-link:hover {
        transition: border 0.2s;
        border-bottom: 1px solid white;

    }
}

// cover
#showcase {
    background: url("../images/main.jpg") bottom center / cover no-repeat;
    min-height: 750px;
    h1 {
        font-family: "Questrial", sans-serif;
        line-height: 1;
    }

}


// media-queries 
@media(max-width: 768px) {
    .navbar {
        background: #1f1f1f;
        .nav-link:hover {
            border-bottom: none;
        }
    }
}
